name: hematin
description: Aplikasi pengelolaan pengeluaran offline
publish_to: "none"
version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  sqflite: ^2.3.0
  path: ^1.8.3
  path_provider: ^2.1.1
  intl: ^0.18.1
  fl_chart: ^0.65.0
  shared_preferences: ^2.2.2
  flutter_local_notifications: ^17.0.0
  permission_handler: ^11.0.1
  provider: ^6.1.1
  timezone: ^0.9.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
